/* AboutUs.css */
.about-us-container {
    padding: 20px;
    background-color:#f0f8ff; /* White background for clarity */
    text-align: left;
}

h1 {
    color: #2185d0; /* Hospital primary color */
    margin-bottom: 20px;
}

.values-list {
    list-style-type: square;
    padding-left: 20px;
    font-size: 18px;
    color: #333;
}
