/* ContactForm.css */

.contact-form-container {
    padding: 20px;
    margin: 0 auto;
    width: 40%; /* Reduced width for smaller form */
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centered content */
}

h1 {
    font-size: 1.8em;
    color: #2185d0;; /* Darker font color */
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 12px; /* Smaller spacing between form groups */
    text-align: left; /* Align text to left */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold; /* Bold label text */
    color: #666666;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 8px; /* Slightly reduced padding for compact look */
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em; /* Smaller font size */
}

.form-group textarea {
    height: 100px; /* Set height for textarea */
    resize: vertical; /* Allow vertical resizing */
}

.submit-button {
    padding: 10px 15px;
    background-color: #2573c2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.submit-button:hover {
    background-color: #205fa8; /* Slightly darker color on hover */
}

.success-message {
    margin-top: 20px;
    color: green;
    font-weight: bold;
    font-size: 1em;
}

@media only screen and (max-width: 768px) {
    .contact-form-container {
        width: 80%; /* Increase width on smaller screens */
        padding: 15px; /* Reduce padding for smaller screens */
    }

    h1 {
        font-size: 1.5em;
    }

    .form-group input, .form-group textarea {
        font-size: 0.85em; /* Smaller font size on mobile */
    }

    .submit-button {
        padding: 8px 12px;
        font-size: 0.9em; /* Adjust button size */
    }
}
