/* services.css */

.services-container {
    padding: 20px;
    background-color: #f0f8ff; /* Light background for consistency */
    text-align: left;
}

.services-title {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    color: #2185d0; /* Dark grey color */
    margin-bottom: 30px;
}

.services-section {
    margin-bottom: 40px; /* Space between sections */
}

.services-section h2 {
    font-size: 1.8em;
    font-weight: 600;
    color: #2185d0; /* Deep grey-blue color */
    margin-bottom: 10px;
    padding-bottom: 8px;
    display: inline-block;
}

.services-section p {
    font-size: 1.1em;
    line-height: 1.7;
    color: #666666; /* Medium grey color */
    margin-bottom: 15px;
}

@media only screen and (max-width: 768px) {
    .services-container {
        padding: 15px;
    }

    .services-title {
        font-size: 2em;
    }

    .services-section h2 {
        font-size: 1.5em;
    }

    .services-section p {
        font-size: 1em;
    }
}
